.screen {
  width: 100%;
  height: 5.625rem;
  overflow: hidden;
  margin: 1rem auto 0.75rem;
  background: var(--screen-bg);

  @include breakpoint-up(medium) {
    height: 8.125rem;
    margin: 1.75rem auto 1.5rem;
  }

  input {
    border: none;
    outline: none;
    font-size: 1.2em;
    text-align: right;
    padding: 1em 0.5em;
    font-family: inherit;
    color: var(--screen-txt);

    @include breakpoint-up(medium) {
      font-size: 1.5em;
    }
  }
}
